/build/
/dist/
/refer/
/.vs/
/.idea/
/.vscode/
*.user
*.suo
*.log
*.zip
/*.bin
/*.png
/*.xml
/*.cxx
/.ninja_deps
/.ninja_log
/.cache/
/module/run/
/module/bin/
/native/libs/
/native/obj/
/module/zygisk/*.so
